/*
Font: Work Sans
Styles:
    ExtraLight 200 Italic
    Regular 400 Italic
    ExtraBold 800 Italic
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200;1,400;1,800&display=swap");
html {
  background-color: #8cc487;
  color: #59595a;
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  float: none;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-optical-sizing: auto;
  background-color: #8cc487;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADERS */
h1 {
  font-size: 6em;
  font-style: italic;
  font-weight: 800;
}

h2 {
  font-size: 3.5em;
  font-weight: 400;
}

h3 {
  font-size: 2.2em;
  font-style: italic;
  font-weight: 200;
}

/* LOGO */
.logo-base {
  background-image: url("../assets/helsinki_silhouette.png");
  background-color: whitesmoke;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 101vw;
  margin: 5vh 0 0 -0.5vw;
}

.logo-img img:first-child {
  transform: scale(1.5);
}

/* CARD */
.card-container {
  background-color: #8cc487;
}

.card {
  background-color: whitesmoke;
  min-width: 32rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5em 2em;
  padding: 2em 0;
  border-radius: 1em;
  text-align: center;
  color: #ff6f69;
}

.card h2 {
  margin: 0 2rem;
}

.card img {
  transform: scale(1.5);
  opacity: 67%;
  margin: 5em auto 2em;
}

.card:hover {
  background-color: #ff6f69;
  color: #59595a;
}

/* Error page */
.error-page {
  text-align: center;
  margin: 2em;
  text-shadow: 1px 1px 0.25em black;
}

.error-page h1 {
  color: #ff6f69;
}

.error-page p {
  color: whitesmoke;
}

.error-page i {
  font-size: 2em;
  color: #59595a;
  text-shadow: none;
}

/* links */
a {
  text-decoration: none;
}

.page-container {
  background-color: #8cc487;
}

/* Nav */
.nav-container {
  margin: 10em 0;
  text-align: center;
}

.nav-container a.active {
  width: 20vw;
  height: 10vh;
  background-color: whitesmoke;
  margin: 0 0 0 -1vw;
  padding: 1em 0;
}

.nav-link {
  width: 20vw;
  height: 10vh;
  background-color: #8cc487;
  margin: 0 0 0 -1vw;
  padding: 1em 0;
}

.nav-link img {
  opacity: 66%;
}

.nav-link:hover {
  background: linear-gradient(to right, #8cc487, whitesmoke 50%);
}

/* Action field */
.action-field-container {
  width: 60vw;
  height: 52vh;
  margin: 3em 0;
  border-radius: 1em;
  background-color: whitesmoke;
}

.test {
  background-color: aqua;
}

/* MOBILE */
@media (hover: none) and (pointer: coarse) {
  .logo-base {
    width: 100vw;
    max-height: -moz-max-content;
    max-height: max-content;
    margin: 0 0 1rem -2.5vw;
  }
  .logo-img:first-child {
    transform: scale(0.3);
  }
  .card {
    min-width: 2vw;
    width: 42vw;
    margin: 1rem;
    padding: 0;
  }
  .mobile-card-start {
    justify-content: start !important;
  }
  .card h2 {
    margin: 0;
    font-size: 2em;
  }
  .card img {
    transform: scale(0.5);
    margin: 2rem;
    padding: 0;
  }
  .page-container {
    justify-content: start;
  }
  .nav-container {
    margin: 0;
    display: flex;
  }
  .nav-container a.active {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 1rem 1rem 0 0;
    margin: 0 1rem;
    padding: 0;
  }
  .nav-link {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #8cc487;
    border-radius: 1rem 1rem 0 0;
    margin: 0 1rem;
    padding: 0;
  }
  .nav-link img {
    transform: scale(0.5);
  }
  .nav-link:hover {
    background: linear-gradient(to bottom, #ff6f69, whitesmoke 80%);
  }
  .action-field-container {
    width: 100%;
    min-height: 10vh;
    margin: 0;
    border-radius: 1em;
    background-color: whitesmoke;
  }
}/*# sourceMappingURL=styles.css.map */