$bg-main: #8cc487;
$bg-secondary: whitesmoke;
$font-color: #59595a;
$font-accent-color: #ff6f69;

/*
Font: Work Sans
Styles:
    ExtraLight 200 Italic
    Regular 400 Italic
    ExtraBold 800 Italic
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200;1,400;1,800&display=swap');

html {
    background-color: $bg-main;
    color: $font-color;

    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;

    margin: 0;
    padding: 0;
    float: none;

    width: 100vw;
    height: 100vh;

    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-optical-sizing: auto;
    background-color: $bg-main;
}

body::-webkit-scrollbar {
    display: none;
}

/* HEADERS */

h1 {
    font-size: 6em;
    font-style: italic;
    font-weight: 800;
}

h2 {
    font-size: 3.5em;
    font-weight: 400;
}

h3 {
    font-size: 2.2em;
    font-style: italic;
    font-weight: 200;
}

/* LOGO */

.logo-base {
    background-image: url('../assets/helsinki_silhouette.png');
    background-color: $bg-secondary;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 101vw;
    margin: 5vh 0 0 -0.5vw;
}

.logo-img img:first-child {
    transform: scale(1.5);
}

/* CARD */

.card-container {
    background-color: $bg-main;
}

.card {
    background-color: $bg-secondary;
    min-width: 20rem;
    height: fit-content;
    margin: 5em 2em;
    padding: 2em 0;
    border-radius: 1em;
    text-align: center;
    color: $font-accent-color;
}

.card img {
    transform: scale(1.5);
    opacity: 67%;
    margin: 5em auto 1em;
}

.card:hover {
    background-color: $font-accent-color;
    color: $font-color;
}

/* Error page */

.error-page {
    text-align: center;
    margin: 2em;
    text-shadow: 1px 1px .25em black;
}

.error-page h1 {
    color: $font-accent-color;
}

.error-page p {
    color: $bg-secondary;
}

.error-page i {
    font-size: 2em;
    color: $font-color;
    text-shadow: none;
}

/* links */

a {
    text-decoration: none;
}

.page-container {
    background-color: $bg-main;
}

/* Nav */

.nav-container {
    margin: 10em 0;
}

.nav-link {
    width: 20vw;
    height: 10vh;
    background-color: $bg-secondary;
    text-align: center;
    margin: 0 0 0 -1vw;
    padding: 1em 0;
}

.nav-link img {
    opacity: 66%;
}

.nav-link:hover {
    background: linear-gradient(to right, $font-accent-color, $bg-secondary 80%);
}

/* Action field */

.action-field-container {
    width: 60vw;
    height: 52vh;
    margin: 3em 0;
    border-radius: 1em;
    background-color: $bg-secondary;
}

.test {
    background-color: aqua;
}

/* MOBILE */

@media (hover: none) and (pointer:coarse) {

    .logo-base {
        width: 100vw;
        max-height: max-content;
        margin: 0 0 1rem -2.5vw;
    }

    .logo-img:first-child {
        transform: scale(.3);
    }

    .card {
        min-width: 5vw;
        margin: 1rem 0.95rem;
        padding: 0 0.5rem;
    }

    .mobile-card-start {
        justify-content: start !important;
    }
    
    .card img {
        transform: scale(1);
        margin: 2rem;
    }

    .page-container {
        justify-content: start;
    }

    .nav-container {
        margin: 0;
        display: flex;
    }
    
    .nav-link {
        width: fit-content;
        height: fit-content;
        background-color: $bg-secondary;
        text-align: center;
        border-radius: 1rem 1rem 0 0;
        margin: 0 1rem;
        padding: 0;
    }

    .nav-link img {
        transform: scale(.5);
    }

    .nav-link:hover {
        background: linear-gradient(to bottom, $font-accent-color, $bg-secondary 80%);
    }

    .action-field-container {
        width: 100%;
        min-height: 10vh;
        margin: 0;
        border-radius: 1em;
        background-color: $bg-secondary;
    }
}